# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
fileTemplates/
out/

# Eclipse
.classpath
.project
.settings/

# Miscellaneous
.notes/
.scannerwork/
\#*
.#*
*~
*~*
codealike.json
*.orig
*.hprof
